# Compilados de Python
__pycache__/
*.py[cod]
data/
*.pyo
*.pyd
*.pdb
*.so
*.dll
main.spec
# Entornos virtuales
.venv/
venv/
env/
build/
dist/
# Archivos de logs
logs/
*.log
inventario-linux

# Configuraciones de IDEs/editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de distribución/compilación
dist/
build/
*.egg-info/

